[minpower]
duals = False
breakpoints = 11
hours_commitment = 24
hours_overlap = 0
cost_load_shedding = 10000.00
cost_wind_shedding = 0.0
economic_wind_shed = False

# cost of shedding is in $/MWh

dispatch_decommit_allowed = False
solver = glpk
mipgap = 0.0001
solver_time_limit = 0

reserve_fixed = 0.0
reserve_load_fraction = 0.0

faststart_resolve = False

visualization = False
logging_level = 20
# the default level is INFO
# for debugging use:
# logging_level = 10
problem_file = False
output_prefix = False
debugger = False
standalone_restart = False

standalone = False
store_filename = ""
pid = ""

scenarios = 0
# if scenarios>0, this sets the max number of scenarios used
cvar_weight = 0
cvar_confidence_level=0.95
# default is to use expected value formulation
# if cvar_weight > 0, then the objective of a stochastic problem will use CVaR

deterministic_solve = False
perfect_solve = False

directory = .
scenarios_directory = ""

wind_multiplier = 1.0
wind_capacity_factor = 0
wind_error_multiplier = 1.0
wind_forecast_adder = 0.0
load_multiplier = 1.0
load_adder = 0.0

pmin_multiplier = 1.0
ramp_limit_multiplier = 1.0


ignore_minhours_constraints = False
ignore_ramping_constraints = False
ignore_pmin_constraints = False

on_complete_script = ""


file_gens = generators.csv
file_loads = loads.csv
file_lines = lines.csv
file_init = initial.csv


[available_solvers]
glpk = True
gurobi = False
cplex = False


[scheduler]
scheduler_mode = nohup
verbose = False
memory = 8
hours_limit = 4
email = ""
# blank string means dont email - only applies to qsub mode
