@import url("http://fonts.googleapis.com/css?family=Arvo|Cousine:r,i,b");
/* Fonts */
/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, default.sass */
body {
  font-family: "Museo Sans", Verdana, sans;
  font-size: 110%;
  line-height: 160%;
  color: #404040;
  background: white;
}

/* line 25, default.sass */
.body p {
  margin-top: 2ex;
  text-align: justify;
}
/* line 28, default.sass */
.body p:last-child {
  margin-bottom: 4ex;
}
/* line 30, default.sass */
.body ul {
  list-style-type: circle;
}

/* line 33, default.sass */
.body, .related {
  max-width: 630px;
}

/* line 37, default.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", serif;
  font-weight: normal;
  color: SteelBlue;
  margin-top: 1.5ex;
}

/* line 44, default.sass */
h1 {
  font-size: 180%;
}

/* line 47, default.sass */
h2 {
  font-size: 160%;
}

/* line 50, default.sass */
h3 {
  font-size: 140%;
}

/* line 53, default.sass */
tt {
  font-family: "Cousine", monospace;
  font-size: medium;
}
/* line 56, default.sass */
tt.descname {
  font-family: "Cousine", monospace;
  font-size: medium;
}

/* line 60, default.sass */
a {
  color: SlateGray;
  border-color: DarkSlateGray;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
/* line 66, default.sass */
a img, a:link img {
  border-bottom: 0px;
}
/* line 68, default.sass */
a.image-reference {
  border-bottom-width: 0px;
}
/* line 70, default.sass */
a.reference.internal em {
  font-style: normal;
}
/* line 72, default.sass */
a.headerlink {
  display: none;
}

/* line 75, default.sass */
abbr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: DarkSlateGray;
}

/* line 80, default.sass */
pre, .admonition {
  margin: 1em -40px;
  padding: 1em 40px;
}

/* line 85, default.sass */
pre {
  font-family: "Cousine", monospace;
  font-size: 80%;
  background: CornSilk;
  font-size: medium;
  line-height: 130%;
  overflow: auto;
  border-left-color: SlateGray;
  border-left-width: 3px;
  border-left-style: solid;
}
/* line 93, default.sass */
pre #problem.viewcode-block {
  background: white;
  padding: 10px;
  overflow: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 105, default.sass */
.highlight {
  width: 130%;
}

/* line 108, default.sass */
.admonition {
  background: CornSilk;
  border-color: ForestGreen;
  border-top-width: 5px;
  border-top-style: solid;
}
/* line 113, default.sass */
.admonition.warning {
  border-top-width: 5px;
  border-top-style: solid;
  border-color: FireBrick;
}
/* line 117, default.sass */
.admonition.note p.admonition-title {
  display: none;
}

/* line 121, default.sass */
dt:target, .highlighted {
  background: #f2ffc4;
}

/* Positions, Sizes, &c. */
/* line 128, default.sass */
.halfwidth {
  max-width: 500px;
  margin-bottom: 3ex;
}

/* line 131, default.sass */
.related {
  margin-bottom: 100px;
  margin-top: 50px;
}

/* line 135, default.sass */
.social {
  margin-top: 2ex;
  margin-left: 1em;
}
/* line 138, default.sass */
.social .plusone {
  display: table-cell;
  padding: 5px;
}
/* line 141, default.sass */
.social .twitter {
  display: table-cell;
}

/* line 145, default.sass */
.section > dl {
  padding-top: 2em;
}
/* line 147, default.sass */
.section h2 + dl {
  padding-top: inherit;
}

/* line 150, default.sass */
dt:target {
  margin-left: -10px;
  margin-right: -40px;
  padding-left: 10px;
  padding-right: 40px;
}

/* line 157, default.sass */
.document {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 900px;
  position: relative;
}
/* line 162, default.sass */
.document .documentwrapper {
  position: absolute;
  left: 180px;
  top: 0px;
}
/* line 167, default.sass */
.document .documentwrapper h1:first-child {
  margin-top: 20px;
}
/* line 169, default.sass */
.document .documentwrapper .toctree-wrapper {
  display: none;
}
/* line 171, default.sass */
.document .sphinxsidebar {
  position: absolute;
  left: -101px;
  top: 0px;
  width: 200px;
}
/* line 177, default.sass */
.document .sphinxsidebar h3:first-child {
  margin-top: 20px;
}
/* line 179, default.sass */
.document .sphinxsidebar a {
  text-decoration: none;
  border: none;
}
/* line 182, default.sass */
.document .sphinxsidebar a.current {
  font-weight: bold;
}
/* line 184, default.sass */
.document .sphinxsidebar ul {
  list-style-type: none;
  margin-top: 20px;
}
/* line 187, default.sass */
.document .sphinxsidebar ul ul {
  margin-top: 0px;
  padding-left: 15px;
}
/* line 191, default.sass */
.document .sphinxsidebar input {
  border-color: DarkSlateGray;
}
/* line 195, default.sass */
.document .sphinxsidebar #searchbox h3 {
  margin-bottom: 0px;
}
/* line 197, default.sass */
.document .sphinxsidebar #searchbox .searchtip {
  display: none;
}

/* line 201, default.sass */
.license {
  font-size: 60%;
  max-width: 500px;
  margin-left: 60px;
}

/* line 206, default.sass */
.optimizationproblem {
  margin-bottom: 4ex;
  margin-left: 3em;
}

/* line 211, default.sass */
.solution-homepage {
  padding: 10px;
  width: 15em;
  background: SkyBlue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: DarkSlateGray;
  border-width: 3px;
  position: absolute;
  top: 250px;
  right: -15em;
}

/* line 224, default.sass */
.installation-homepage {
  padding: 10px;
  width: 15em;
  background: lightblue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: DarkSlateGray;
  border-width: 3px;
  position: absolute;
  top: 380px;
  right: -15em;
}
/* line 236, default.sass */
.installation-homepage ul {
  padding-left: 20px;
  list-style-type: circle;
}

/* line 240, default.sass */
.basic-installation {
  padding: 6px;
  width: 14em;
  background: lightblue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: DarkSlateGray;
  border-width: 3px;
  position: absolute;
  top: 25px;
  right: -17em;
}

/* line 260, default.sass */
table.docutils {
  width: 140%;
}
/* line 263, default.sass */
table.docutils tbody tr.row-odd:first-child {
  color: dimgray;
  font-weight: bold;
}
/* line 266, default.sass */
table.docutils td {
  padding: 10px;
}
/* line 255, default.sass */
table.docutils tr.row-odd td {
  background-color: #eeeeee;
}
/* line 258, default.sass */
table.docutils tr.row-even td {
  background-color: white;
}

/* line 270, default.sass */
table.docutils.field-list {
  margin-top: 30px;
}
/* line 272, default.sass */
table.docutils.field-list th.field-name {
  display: block;
  font-weight: bold;
}
/* line 275, default.sass */
table.docutils.field-list td.field-body {
  display: block;
  margin-left: 20px;
}
/* line 278, default.sass */
table.docutils.field-list td.field-body strong {
  font-family: "Cousine", monospace;
  color: dimgray;
}

/* line 282, default.sass */
tt.descname {
  font-weight: bold;
}

/* line 286, default.sass */
dl dd {
  margin-left: 20px;
}

/* line 289, default.sass */
dl.function {
  background: WhiteSmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
/* line 290, default.sass */
dl.function em {
  font-family: "Cousine", monospace;
  color: dimgray;
}
/* line 297, default.sass */
dl.function table.field-list {
  width: 100%;
}

/* line 300, default.sass */
dl.class {
  background: FloralWhite;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
/* line 301, default.sass */
dl.class em {
  font-family: "Cousine", monospace;
  color: dimgray;
}
/* line 310, default.sass */
dl.class table.field-list {
  width: 100%;
}

/* line 314, default.sass */
dl.method em {
  font-family: "Cousine", monospace;
  color: dimgray;
}

/* line 318, default.sass */
.viewcode-link {
  color: LightSlateGray;
  text-decoration: none;
  border: none;
  font-size: small;
}

/* line 324, default.sass */
ul {
  list-style-position: inside;
}

/* line 326, default.sass */
ol.arabic.simple {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 331, default.sass */
#MathJax_ConfigWarning {
  display: none;
}
